body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    text-align: center;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 34px;
    padding-top: 18px;
    text-shadow: 2px 2px 4px #000000;

}
.header h3 {
    font-size: 16px;
    padding-top:0px;

}

ul{
    color: #B0B0B0;
    border-radius:6px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 0px;
    width: 959px;
    height: 65px;
}


 ul li {
    float: left;
    border-left: 1px solid #FFEBCD;
    height: 65px;
    width: 159px;
    text-align: center;
    list-style: none;
}
ul li:first-child{
  border-left: none;
}
ul li span {
line-height: 65px;
}
#first {
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
}
#last {
 border-top-right-radius: 6px;
    border-bottom-right-radius:6px;
}
.active {
    background-color: #f8f3f0;
    border-bottom-color: 
}
.selected {
border-bottom: 2px solid #4daf7b; 
height:63px;
}
