body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    text-align: center;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 34px;
    padding-top: 18px;
    text-shadow: 2px 2px 4px #000000;

}
.header h3 {
    font-size: 16px;
    padding-top:0px;

}

.menu ul{
    color: #B0B0B0;
    border-radius:6px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 0px;
    width: 959px;
    height: 65px;
}


.menu ul li {
    float: left;
    border-left: 1px solid #FFEBCD;
    height: 65px;
    width: 159px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.menu ul li:first-child{
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.menu ul li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px;
}
.menu ul li span {
line-height: 65px;
}
#number_circle {
background-color:#e55e3a;
border-radius: 50%;
height: 11px;
left: 122px;  
position:relative;
top: -44px;
width:11px; 
}
.menu ul img{
position: relative;
left:-10px

}
.menu .active {
    background-color: #f8f3f0; 
}
.menu .selected {
border-bottom: 2px solid #4daf7b; 
height: 63px;    
}
